.header {
    text-align: center;
    position: relative;
    padding: 4vw 0 10vw;
    margin-bottom: -10vw;

    h1 {
        padding: 0;
        margin: 0;
        color: #fff;
        font-weight: 100;
    }

    &:after {
        content: '';
        position: absolute;
        top: 1vw;
        right: 1vw;
        bottom: 1vw;
        left: 1vw;
        background-color: #3f863d;
        z-index: -1;
    }
}