.rooms {
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .room {
        width: calc(50% - 2vw);
        border-radius: 4px;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, .1);
        margin-bottom: 4vw;
        padding: 4vw;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        min-height: 27vh;

        .room--icon {
            width: 100%;
            text-align: center;

            span {
                font-size: 15vw;
                opacity: .4;
            }
        }

        .room--name {
            font-weight: 400;
            text-transform: uppercase;
            opacity: .4;
        }

        .devices {
            display: none;
        }
    }
}